.navbar-inverse {
	background-color: #34495e;
}

.navbar {
    min-height: 53px;
    margin-bottom: 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}